.querygen{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ccc;
}
<<<<<<< HEAD
=======
.text{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
.text:active{
    /*width: 100%;*/
    padding: 10px;

    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box; /* Ensures padding is included in the width */
}
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
.querygen div img{
    width: 100%;
    height: auto;
    object-fit: cover;;
}
.imaw{
    width: 600px;
    height: auto;
}
.qrygen h2{
    color: rgb(56, 56, 124);
    font-family: apercu-pro, -apple-system, BlinkMacSystemFont, "Helvetica Neue", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 10px;
}
.qrygen{
    width: 100%;
}
.qrygen form{
    width: 60%;
    height: auto;
    display: flex;
    flex-direction:  column;
    position: relative;
<<<<<<< HEAD
     left: 25%;
=======
    left: 25%;
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    justify-content: center;
    border: 2px solid #3E54AC;
    border-radius: 25px;
    padding: 6px;
<<<<<<< HEAD
    
}
 
.quoteform input,textarea{
=======

}

.quoteform .text,.textarea{
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    justify-content: center;
    align-items: center;
    width: 50%;
    align-items: center;
    text-align: center;
    margin:auto;
    border-color: black;
    color: black;
    padding: 7px;
    margin-bottom:13px;
    /* background-color: aliceblue; */
    border-radius: 0px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 2px;
    color: black;
<<<<<<< HEAD
   
}
.quoteform input:focus,textarea:focus{
    border-radius: 25px;
    color: black;
}
.quoteform input,textarea ::placeholder {
     text-align: center;
=======

}
 .text:focus,.textarea:focus{
    border-radius: 25px;
    color: black;
}
 .text,.textarea ::placeholder {
    text-align: center;
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479

}
.quoteform button{
    color: white;
    background-color:#3E54AC ;
    width: 25%;
    align-items: center;
    text-align: center;
    margin: auto;
    padding: 7px;
    border-radius: 24px;
    font-size: 15px;
    border-style: none;
}

@media only screen and (max-width:800px){
    .querygen{
        flex-direction: column;
    }
    .imaw{
<<<<<<< HEAD
        
         width: max-content;
         align-items: center;
         text-align: center;
         justify-content: center;
=======

        width: max-content;
        align-items: center;
        text-align: center;
        justify-content: center;
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    }
    .querygen{
        align-items: center;
        text-align: center;
        justify-content: center;
    }
<<<<<<< HEAD
    
=======

>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
}

.writequery{
    width: 100%;
    height:auto;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ccc;
}
.queryman{
    width: 600px;
    height: auto;
    order: 2;
}
.quoteform{
    order: 1;
}

.quoteform textarea{
<<<<<<< HEAD
margin:auto;
margin-bottom: 12px;
border-color: white;
border-bottom: 2px solid #ccc;
padding-bottom: -2px;
 
=======
    margin:auto;
    margin-bottom: 12px;
    border-color: white;
    border-bottom: 2px solid #ccc;
    padding-bottom: -2px;

>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
}

.quoteform textarea ::placeholder{
    margin-top: 5px;
}


.faqs{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -60px;
}
.qrygen1 h2{
<<<<<<< HEAD
  margin-left: 10px;
=======
    margin-left: 10px;
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
}

.faqdeesc{
    margin-left: 15px;
    height: 200px;
}
.fa {
    padding: 6px;
    font-size: 25px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin:2.5px;
    border-radius: 100px;
    align-items: center;
<<<<<<< HEAD
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #1245b2;
    color: rgb(197, 84, 84);
    border-color: #1245b2;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
 .faqdeesc img{
  width: 200px;
  height: 200px;
  position: relative;
  left:5%;
  bottom: -60px;
    
 }
=======
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #1245b2;
    color: rgb(197, 84, 84);
    border-color: #1245b2;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}
.faqdeesc img{
    width: 200px;
    height: 200px;
    position: relative;
    left:5%;
    bottom: -60px;

}
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
.faqdeesc h1,p{
    text-align: center;
}
.questr{
    width: 90%;
    height: auto;
    display: flex;
    flex-direction:  column;
<<<<<<< HEAD
   
=======

>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    justify-content: center;
    border: 3px solid #3E54AC;
    border-radius: 25px;
    padding: 6px;
    margin: 7px;
<<<<<<< HEAD
  
   
    
=======



>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
}
.questr ul{
    list-style: none;

}
.questr ul li::before {
    content: "🤔";
    display: inline-block;
    margin-right: 0.2rem;
    font-size: larger;
<<<<<<< HEAD
  }
 .answ{
    visibility: hidden;
 }
=======
}
.answ{
    visibility: hidden;
}
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
.questr ul li{
    font-size: 20px;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 450;
}
<<<<<<< HEAD
 .social-icons{
=======
.social-icons{
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
<<<<<<< HEAD
 }

 

 .layout {
    width: 600px;
    margin: auto;
  }
  .accordion {
=======
}



.layout {
    width: 600px;
    margin: auto;
}
.accordion {
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:#3e54ac76 ;
    border-radius: 10px;
<<<<<<< HEAD
  }
  .accordion__question p {
=======
}
.accordion__question p {
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    margin: 5px;
    padding: 0;
    font-family: Verdana;
    font-size: 20px;
<<<<<<< HEAD
  }
  .accordion__answer p {
=======
}
.accordion__answer p {
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    margin: 5px;
    padding: 10px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    background: #3e54ac52;
    border-radius: 25px;
<<<<<<< HEAD
  }
  .accordion:hover {
    cursor: pointer;
  }
  .accordion__answer {
    display: none;
  }
  .accordion.active .accordion__answer {
    display: block;
  }

  @media only screen and (max-width:800px)
  {
=======
}
.accordion:hover {
    cursor: pointer;
}
.accordion__answer {
    display: none;
}
.accordion.active .accordion__answer {
    display: block;
}

@media only screen and (max-width:800px)
{
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
    .writequery{
        display: flex;
        flex-direction: column-reverse;

    }
    .queryman{
        width: auto;
        text-align: center;
        justify-content: center;
        align-content: center;
    }
    .layout{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: fit-content;
    }
    .accordion__question{
        display: flex;
        flex-wrap: nowrap;
<<<<<<< HEAD
        
    }
    .questr{
       height: fit-content;
    }
      
     .faqdeesc{
        display: flex;
        justify-content: center;
        object-fit: cover;
     }
     .accordion{
        width: fit-content;

     }
     .accordion__answer p {
=======

    }
    .questr{
        height: fit-content;
    }

    .faqdeesc{
        display: flex;
        justify-content: center;
        object-fit: cover;
    }
    .accordion{
        width: fit-content;

    }
    .accordion__answer p {
>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
        margin: 2.5px;
        padding: 5px;
        font-size: medium;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(255, 255, 255);
        background: #3e54ac52;
        border-radius: 25px;
<<<<<<< HEAD
      }
  }



  .navstick{
    position: fixed;
  }

  
=======
    }
}



.navstick{
    position: fixed;
}

>>>>>>> 53f162f130205c3c9c8f4c5a73bddc3878930479
