/* AgentCard.module.css */
.card {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.cardIcon {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #3E54AC;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.cardIcon img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 25%;
}

.cardContent {
    text-align: center;
}

.cardContent h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cardContent p {
    font-size: 18px;
    margin-bottom: 20px;
}

.cardButton {
    background-color: #3E54AC;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.cardButton:hover {
    background-color: #0062cc;
    color: #fff;
}
