
.card {
    position: relative;
    width: 100%;
    height:auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3e54ac;
    opacity: 0.8;
    z-index: -1;
    text-align: center;

}
.photo{
    display: flex;
    width: 20%;
    height: auto;
    object-fit: cover;
}

.content {
    padding: 20px;
    color: white;
    text-align: center;
    z-index: 1;
    width: 60%;

}

.title {
    margin-bottom: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    width:70%;
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: none;

}

.button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #3e54ac;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ddd;
}

