body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 50px;
}

.formm,.life-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    width: 75%;
}

.form-group label {
    margin-bottom: 10px;
    font-size: large;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group textarea
{
    padding: 10px;
    border-radius: 10px;

    width: 100%;
    border:2px solid #3E54AC;
}

.add-key-details-button{
    padding: 10px;
    border-radius: 10px;

    width: 100%;
    border:2px solid #3E54AC;
}

.cardHeader {
    background-color: #2f3e7a;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: fit-content;
    text-align: center;
    position: relative;
    top: 25px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cardHeader div h1 {
    margin: 0;
    font-size: 24px;
    text-align: center;
    z-index: 1;

}
.butr{
    background-color: #3E54AC;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

.butr:hover {
    background-color: #0062cc;
    color: #fff;
}
.form-group select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    font-weight: bold;
}

.cardContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: row;
    flex-wrap:wrap;
}

.card {
    width:450px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    background-color: white;
    margin: 20px;
}

.card:hover {
    transform: translateY(-5px);
}

.cardImage {
    object-fit: cover;
    width: 150px;
    height: auto;
}

.cardContent {
    padding: 20px;
}

.cardTitle {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
}

.cardDescription {
    font-size: 16px;
    color: #666;
}

.benefit-label,
.benefit-value
{
    margin: 10px;
}

.delete-icon
{
    margin-left: 10px;
    margin-bottom: 10px;

}

.benefit-health-field{
    width: 100%;
    margin-bottom: 5px;
}

.key-details-container
{
    display: flex;
    margin-bottom: 20px;
    width:77%;
}
.benefit-inputs
{
    width: 100%;
}
.key-terms-input
{
    margin-bottom: 15px;
    width: 77%;
}
.key-terms-container{
    width: 100%;
    display: flex;
}