.enroll-payment-container {
    display: grid;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .enroll-payment-container h2 {
    color: #3e54ac;
    text-decoration: underline;
  }
  
  .enroll-payment-form {
    margin-top: 20px;
  }
  
  .enroll-payment-form h3 {
    color: #333;
  }
  
  .enroll-payment-form p {
    color: #777;
  }
  
